<div>
  <h1 style="color:red; text-align:center;">¡Bienvenido!</h1>
  <br/>
  <div style="text-align: center;">
    <img src="cid:banner" alt="">
  </div>
  <h2>¡Hola {{user.name}}! gracias por registrarte en nuestra página</h2>
  <p>Agradecemos tu registro amiguito</p>
</div>