<h1>Escribe tu correo</h1>

<p>El correo que escribas recibirá un link de restauración sólo si esta en nuestra base de datos</p>

<form id="restoreRequestForm">
  <input name="email">
  <input type="submit" id="submitter">
</form>
<p id="message"></p>

<script src="/js/restoreRequest.js"></script>