<div>
  <h1>Escribe tu nueva contraseña</h1>

  <form id="restorePasswordForm">
    <input name="password">
    <input type="submit" id="submitter">
  </form>
  <p id="message"></p>
  <a href="/login"><button>Login</button></a>
</div>

<script src="/js/restorePassword.js"></script>